@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --color-1: hsl(25, 97%, 53%);
  --color-2: hsl(0, 0%, 100%);
  --color-3: hsl(217, 12%, 63%);
  --color-4: hsl(216, 12%, 54%);
  --color-5: hsl(213, 19%, 18%);
  --color-6: hsl(216, 12%, 8%);
  --color-7: hsl(213, 21%, 10%);
  --color-8: hsl(214, 14%, 23%);
  --color-9: hsl(25, 87%, 44%);
}

body {
  background-color: var(--color-6);
  font-family: "Overpass", sans-serif;
  color: var(--color-2);
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

.container-1 {
  padding: 2.5rem;
  width: fit-content;
  border-radius: 20px;
  background: linear-gradient(to bottom, var(--color-5), var(--color-7));
}

.container-2 {
  padding: 2.5rem;
  width: 27.4rem;
  border-radius: 20px;
  background: linear-gradient(to bottom, var(--color-5), var(--color-7));
}

.star {
  background-color: var(--color-8);
  width: 3.4rem;
  height: 3.4rem;
  margin-bottom: 2.1rem;
  border-radius: 17px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.star img {
  width: 1.2rem;
}

.header {
  margin-bottom: 0.8rem;
  font-size: 2rem;
}

.text {
  color: var(--color-3);
  font-size: 1rem;
  margin-bottom: 1.4rem;
  line-height: 1.5;
}

.btns {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 1.4rem;
}

.btns button {
  background-color: var(--color-8);
  color: var(--color-3);
  font-size: 1rem;
  border: none;
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 17rem;
  cursor: pointer;
}

.submit {
  background-color: var(--color-1);
  border: none;
  color: var(--color-2);
  font-size: 1rem;

  padding: 1rem 0;
  /* height: 2.3rem; */
  width: 100%;
  border-radius: 20px;
  letter-spacing: 2px;
  cursor: pointer;
}

.submit:hover {
  background-color: var(--color-2);
  color: var(--color-1);
}

.btns button:hover {
  background-color: var(--color-1);
  color: var(--color-2);
}

.active {
  background-color: var(--color-4) !important;
  color: var(--color-2) !important;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.start img {
  width: 11rem;
  margin-bottom: 2.5rem;
}

.result {
  color: var(--color-9);
  background-color: var(--color-8);
  border-radius: 20px;
  width: fit-content;
  /* display: none; */
  padding: 0.3rem 0.8rem;
  font-size: 1rem;
  /* margin-bottom: 2rem; */
}
.result-number {
  /* padding: 4px; */
}

h2 {
  margin-bottom: 0.7rem;
  font-size: 2rem;
}

p {
  color: var(--color-4);
  font-size: 1rem;
  line-height: 1.5;
}

.container-2 h2,
.container-2 p {
  text-align: center;
}
